<header>
    <div class="navBarContainer">
      <nav class="navBar">
        <ul>
          <li><a href="/">我的手指</a></li>
          <li><a href="/player_list">玩家列表</a></li>
          <li><a href="/boss">Boss</a></li>
          <li><a href="/reports">戰報</a></li>
        </ul>
      </nav>
    </div>
  </header>