<div class="sc-fzoYHE GXatJ" style="opacity: 0;">你的角色死亡了，請進行轉生</div>
<div class="">
    <h3 class="">數值面板</h3>
    <table>
        <tbody>
            <tr class="">
                <th class="">暱稱</th>
                <td class="" style="color: var(--color);">瘋狂尾熊</td>
                <td colspan="2" rowspan="3" class="">
                    <div class="">
                        <picture>
                            
                        </picture>
                    </div>
                </td>
            </tr>
            <tr class="">
                <th class="">角色</th>
                <td class="" style="border-right-width: 1px;">聖誕魔眼</td>
            </tr>
            <tr class="">
                <th class="">稱號</th>
                <td class="" style="border-right-width: 1px;">第74層聖誕頭目</td>
            </tr>
            <tr class="">
                <th class="">等級</th>
                <td class="" style="border-right-width: 1px;">55</td>
                <th class="">經驗值</th>
                <td colspan="3" class="">31514</td></tr>
        </tbody>
    </table>
</div>  
<div class="sc-fzplWN hRBsWH">
    <h3 class="sc-fznyAO CWQMf">設定</h3>
    <div class="sc-fzqBZW eNQuho">
        <div>個人狀態</div>
        <input placeholder="最多30個字" type="text" class="sc-AxheI fniENO" value="推塔中，別摸">
        <button class="sc-AxgMl llLWDd">更新</button>
    </div>
    <div class="sc-fzqBZW eNQuho">
        <div>隊友暱稱</div>
        <input type="text" maxlength="12" class="sc-AxheI fniENO" value="Erk">
        <button class="sc-AxgMl llLWDd">設定</button>
    </div>
    <div>隊伍狀態：✔成立</div>
</div>

<div class="sc-fzplWN hRBsWH">
    <h3 class="sc-fznyAO CWQMf">樓層獎勵</h3>
    <div>每 12 小時可以依目前樓層數領取獎勵經驗值。目前樓層 49</div>
    <button class="sc-AxgMl llLWDd">領取獎勵</button>
</div>

<div class="sc-fzplWN hRBsWH">
    <h3 class="sc-fznyAO CWQMf">行動</h3>
    <div style="display: none;">
        <button class="sc-AxgMl llLWDd">狩獵兔肉</button>
        <button class="sc-AxgMl llLWDd">自主訓練</button>
        <button class="sc-AxgMl llLWDd">外出野餐</button>
        <button class="sc-AxgMl llLWDd">汁妹</button>
        <button class="sc-AxgMl llLWDd">做善事</button>
        <button class="sc-AxgMl llLWDd">坐下休息</button>
        <button class="sc-AxgMl llLWDd">釣魚</button></div>
        <button class="sc-AxgMl llLWDd">狩獵兔肉</button>
        <button class="sc-AxgMl llLWDd">自主訓練</button>
        <button class="sc-AxgMl llLWDd">外出野餐</button>
        <button class="sc-AxgMl llLWDd">汁妹</button>
        <button class="sc-AxgMl llLWDd">做善事</button>
        <button class="sc-AxgMl llLWDd">坐下休息</button>
        <button class="sc-AxgMl llLWDd">釣魚</button>
        <br>
        <p>修行高CD但可一次獲得較多經驗（與一般行動共用CD），請注意死亡或轉生後CD仍會持續，主要提供給沒時間一直玩的人使用。不定期抓腳本、自動點擊及按鍵精靈，抓到將受永久性懲罰或直接封鎖帳號。</p>
        <p>目前修行功能需攻略第一層Boss、或是等級大於25、或累積一定遊玩量後才能使用。</p>
        <button class="sc-AxgMl sc-fznZeY bbwYrD">修行1小時</button>
        <button class="sc-AxgMl sc-fznZeY bbwYrD">修行2小時</button>
        <button class="sc-AxgMl sc-fznZeY bbwYrD">修行4小時</button>
        <button class="sc-AxgMl sc-fznZeY bbwYrD">修行8小時</button>
    </div>